
.hero {
    background: linear-gradient(to right, #0d6efd, #6610f2);
    padding: 80px 0;
}

.card:hover {
    transform: scale(1.05);
    transition: 0.3s;
}

.carousel-item {
    min-height: 120px;
}

.gallery img:hover {
    opacity: 0.9;
}

form {
    background: white;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
}
